<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>字典类型添加页</title>
</head>
<body th:fragment="edit">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" >
        <div class="layui-form" id="dict-type-edit" lay-filter="dict-type-edit-filter">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>字典类型
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="typeCode" class="layui-form-label">
                    <span class="x-red">*</span>类型编码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="typeCode" name="typeCode" required=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="systemCode" class="layui-form-label">
                    所属系统
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="systemCode" name="systemCode" required=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <div class="layui-form-item">
                <label  class="layui-form-label"></label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            </div>
        </div>
    </div>
</body>
</html>