<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>字典类型添加页</title>
</head>
<body th:fragment="add">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" >
        <form class="layui-form" id="dict-type-add-form" action="" th:action="@{/dicttype/}" lay-filter="dict-type-add-filter">
            <div class="layui-form-item">
                <label for="dicttype" class="layui-form-label">
                    <span class="x-red">*</span>字典类型
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="dicttype" name="dicttype" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="typecode" class="layui-form-label">
                    <span class="x-red">*</span>类型编码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="typecode" name="typecode" required=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="remark" class="layui-form-label">
                    备注
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="remark" name="remark" required=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <div class="layui-form-item">
                <label  class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="dict-type-add-but" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
</body>
</html>