<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>数据字典类型管理</title>
</head>
<body th:fragment="content">
    <div class="x-nav">
          <span class="layui-breadcrumb" style="visibility: visible;">
              <a href="/">首页</a><span lay-separator="">/</span>
              <a href="/demo/">演示</a><span lay-separator="">/</span>
              <a><cite>导航元素</cite></a>
          </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body" >
        <form class="layui-form " th:action="@{/dicttype/showlist}">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">类型名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型编码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date"  lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" lay-key="1">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属系统</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>查询</button>
                </div>
            </div>
        </form>
        <xblock style="height:40px">
            <div class="layui-btn-group x-right">
                <button class="layui-btn">增加</button>
                <button class="layui-btn">批量删除</button>
            </div>
        </xblock>

        <table class="layui-table" lay-size="lg"  lay-filter="dict-type-list">
            <thead>
            <tr>
                <th  lay-data="{type:'checkbox',field:'id'}"></th>
                <th lay-data="{field:'name'}">字典类型名称</th>
                <th lay-data="{field:'typeCode', edit:true }">字典类型编码</th>
                <th lay-data="{field:'systemCode'  }" >所属系统</th>
                <th lay-data="{field:'createTime' ,sort:true }" >创建时间</th>
                <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#th-opt'}">操作</th>
            </thead>
            <tbody >
                <tr th:each="dictType:${dicttypelist}">
                    <td th:text="*{dictType.id}"></td>
                    <td th:text="*{dictType.name}">*{dictType.name}</td>
                    <td th:text="*{dictType.typeCode}">*{dictType.typeCode}</td>
                    <td th:text="*{dictType.systemCode}">*{dictType.systemCode}</td>
                    <td th:text="*{#dates.format(dictType.createTime,'yyyy-MM-dd HH:mm:ss')}">*{dictType.createTime}</td>
                    <td> 操作</td>
                </tr>
            </tbody>
        </table>
        <script type="text/html" id="th-opt">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-hide" lay-event="save">保存</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>

    <script src="" th:src="@{/static/js/dict/dict-type-list.js}" charset="utf-8"></script>
</body>
</html>