<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>数据字典类型管理</title>
</head>
<body th:fragment="content">

    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">列表</li>
            <li>添加</li>
            <li class="layui-disable">修改</li>
        </ul>
        <div class="layui-tab-content">
            <!--/** 列表页 开始  */-->
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="dict-type-query-filter">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">类型名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">类型编码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="typeCode" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">所属系统</label>
                                <div class="layui-input-block">
                                    <input type="text" name="systemCode" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-btn-admin" lay-submit="" lay-filter="LAY-user-back-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="layui-card-body">
                        <div style="padding-bottom: 10px;">
                            <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">批量删除</button>
                            <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
                        </div>

                        <script type="text/html" id="dict-type-tool">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>

                        <table lay-filter="dict-type-filter">
                            <thead>
                                <tr>
                                    <th lay-data="{field:'id',type:'checkbox',fixed: 'left'}"></th>
                                    <th lay-data="{field:'name'}">类型名称</th>
                                    <th lay-data="{field:'typeCode'}">类型编码</th>
                                    <th lay-data="{field:'systemCode'}">所属系统</th>
                                    <th lay-data="{field:'createTime'}">创建时间</th>
                                    <th lay-data="{fixed:'right'，align:'center', toolbar:'#dict-type-tool'}">操作</th>
                                </tr>
                            </thead>
                            <tbody th:each="item:${dicttypelist}">
                                <tr>
                                    <td th:text="*{item.id}">1</td>
                                    <td th:text="*{item.name}">2016-11-30</td>
                                    <td th:text="*{item.typeCode}">人生就像是一场修行</td>
                                    <td th:text="*{item.systemCode}">2016-11-30</td>
                                    <td th:text="*{item.createTime}">人生就像是一场修行</td>
                                    <td>
                                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <!--/** 列表页 结束  */-->
            <!--/** 添加页 开始  */-->
            <div class="layui-tab-item">内容2</div>
            <!--/** 列表页 结束  */-->
            <!--/** 列表页 开始  */-->
            <div class="layui-tab-item">内容3</div>
            <!--/** 列表页 结束  */-->
        </div>
    </div>
    <script src="" th:src="@{/static/js/base/dict/dict-type-list.js}" charset="utf-8"></script>
</body>

</html>