<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>数据字典类型管理</title>
</head>
<body th:fragment="content">

    <div class="layui-tab " lay-filter="dict-type-tab">
        <ul class="layui-tab-title">
            <li class="layui-this " lay-id="tab-list">列表</li>
            <li lay-id="tab-add" class="layui-bg-green" >添加</li>
            <!--<li lay-id="tab-edit" >编辑</li>-->
        </ul>
        <div class="layui-tab-content">
            <!--/** 列表页 开始  */-->
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto" >
                        <div class="layui-form" method="post" action="" id="dict-type-form" th:action="@{/dicttype/querylist}" >
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">类型名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name" placeholder="请输入" autocomplete="on" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">类型编码</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="typeCode" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">所属系统</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="systemCode" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn " lay-submit="" lay-filter="dict-type-but-search">
                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-card-body">
                        <div style="padding-bottom: 10px;">
                            <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">批量删除</button>
                            <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
                        </div>

                        <script type="text/html" id="dict-type-tool">
                            <div class="layui-table-cell laytable-cell-20-8">
                                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                <a class="layui-btn  layui-btn-xs" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
                            </div>
                        </script>

                        <table lay-filter="dict-type-table-filter" id="dict-type-table">

                        </table>


                    </div>
                </div>
            </div>
            <!--/** 列表页 结束  */-->
            <!--/** 添加页 开始  */-->
            <div class="layui-tab-item">
                <div class="layui-card">
                    <div th:include="dict/dict-type-add::add">添加页面</div>
                </div>
            </div>
            <!--/** 列表页 结束  */-->
            <!--/** 修改页 开始  */-->
            <!--<div class="layui-tab-item">-->
                <!--<div class="layui-card">-->
                    <!--<div th:include="dict/dict-type-edit::edit">修改页面</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--/** 修改页 结束  */-->
        </div>
    </div>
    <script src="" th:src="@{/static/js/base/dict/dict-type-list.js}" charset="utf-8"></script>
</body>

</html>